
.inactive {
    background-color: rgb(230, 229, 229);
}
.active {
    background-color: rgb(70, 224, 101);
}




.calendar-header {
    /* position: relative; */
    /* width: calc(100% / 7); */
    /* background-color: red; */
    height: 30px;
}
/* .head-day {
    border: 2px solid;
} */